@import "../styles/vars";

.inside {
  background-image: url("../images/open.png");
  @extend %hotel-styles;

  &__text {
    margin-top: -20px;
    @extend %text-styles;
    font-size: 14px;
    padding: 0 50px;
  }

  .lounge {
    bottom: 219px;
    right: 208px;
    width: 106px;
  }

  .bar {
    top: 156px;
    left: 339px;
    height: 70px;
    width: 125px;
  }

  .suite {
    top: 88px;
    right: 236px;
    width: 122px;
  }

  .reception {
    top: 241px;
    left: 308px;
  }

  .maze {
    top: 370px;
    left: 294px;
    width: 200px;
    height: 90px;
  }
}

#back {
  position: absolute;
  left: 35px;
  top: 30px;
}

//modal
.modal-backdrop {
  background: transparent;
}

.modal {
  overflow: hidden;
}

.modal-dialog {
  border: none;
  background: transparent url("../images/paper.svg") no-repeat center center;
  background-size: contain;
  width: 800px;
  height: 550px;

  .modal-content {
    background: transparent;
    border: none;
  }
}

.room-modal {
  text-align: center;
  height: 445px;
  margin-top: 57px;
  overflow-y: auto;
  width: 85%;
  margin-left: 9%;

  &__title {
    font-family: $font-family--fun;
    font-size: 24px;
    text-transform: lowercase;
    margin: 5px 0 10px 0;
  }

  &__desc {
    font-family: $font-family--fun;
    font-size: 16px;
  }

  &__img {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;

    img {
      width: 450px;
      display: inline-block;
      max-width: 100%;
    }
  }
}