.button {
  font-family: $font-family--fun;
  border: 1px solid $color__border;
  color: $color-_text--light;
  font-size: 24px;
  padding: 10px 30px;
  background: transparent;
  cursor: pointer;
  text-align: center;

  &:hover {
    background: transparentize($color__white, .8);
  }
}

.button--room {
  font-size: 16px;
  padding: 10px;
}