@import "../styles/vars";

.inside {
  background-image: url("../images/open.png");
  @extend %hotel-styles;

  .lounge {
    bottom: 219px;
    right: 208px;
    width: 106px;
  }

  .bar {
    top: 156px;
    left: 339px;
    height: 70px;
  }

  .suite {
    top: 88px;
    right: 236px;
    width: 122px;
  }

  .reception {
    top: 241px;
    left: 308px;
  }

  .maze {
    top: 370px;
    left: 294px;
    width: 200px;
    height: 90px;
  }
}

#back {
  position: absolute;
  left: 35px;
  top: 30px;
}

//modal
.modal-backdrop {
  background: transparent;
}

.room-modal {
  text-align: center;

  &__title {
    font-family: $font-family--fun;
    font-size: 24px;
  }

  &__desc {
    font-family: $font-family--fun;
    font-size: 16px;
  }

  &__img {

  }
}